extends layout

block custom-stylesheets

block content
  .container( ng-app = 'Query' , ng-controller = controller)
    .row
          .h1  de la liga MX en tiempo Real
          button.btn.btn-lg.btn-primary.btn-block( ng-click = 'refresh()') Actualizar
            span.clearfix
block custom-scripts
  script( src='/javascripts/own/controllers/loginControllers.js')
  script( src='/javascripts/own/functions.js')