doctype 5
html
  head
    title Liga MX
    block stylesheets
      link( rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css' )
    block custom-stylesheets
  body
    block main-navbar

    block content

    block scripts

      script( src='/javascripts/vendor/jquery/jquery.min.js' )
      script( src='/javascripts/vendor/angular/angular.min.js' )
      script( src='/javascripts/vendor/bootstrap/bootstrap.js' )
      script( src='/javascripts/vendor/bootstrap/modal.js' )
      //- 
        The Service constructor that will help the services in angular

    block custom-scripts